<div class="login-container">
  <div class="login-card">
    <h2>Acesso Restrito</h2>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="login">Login</label>
        <input id="login" type="text" formControlName="login" placeholder="Digite seu login">
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input id="senha" type="password" formControlName="senha" placeholder="Digite sua senha">
      </div>

      <div *ngIf="erroLogin" class="error-message">
        {{ erroLogin }}
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
    </form>
    <div style="margin-top:12px; text-align:center;">
      <a routerLink="/register">Criar nova conta</a>
    </div>
  </div>
</div>